@charset "utf-8";
/* CSS Document */
body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 1rem;
    line-height: 1.7;
    color: #535353;
    background-color: #fbfbfb;
	margin:0px;
	width: 100%px;
}
.hizalama_bitir{clear:both;}

a{text-decoration:none;
	color: #535353;
}
.govde{
	border:1px solid #000;
	width: 1200px;
	height: 1000px;
	margin: auto;
}
.sayfa_baslik{
	border:1px solid #000;
	margin: 0 0 10px;
    padding: 7px 15px 6px;
    list-style: none;
    float: left;
	font-weight: 400;
	font-size: 1rem;
    line-height: 1.7;
    color: #212529;
    text-align: left;
	cursor: pointer;
}
.baskan_baslik{
	border: 1px solid #000;
	font-size: 28px;
    margin-bottom: 0;
    padding-top: 28px;
	line-height: 1.4;
	font-weight: 400;
    font-style: normal;
	color: #2d2d2d;
	float: left;
}

.baskan_foto{
	border: 1px solid #000;
	width: 1200px;
	height: 390px;
	margin: auto;
	margin-bottom: 16px;
	text-align: center;
	margin-top: 80px;
}
.baskan_ismi{
	border: 1px solid #000;
	width:auto;
	height: auto;
	margin: auto;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
    line-height: 1.7;
    color: #535353;
}
.metin{
	border: 1px solid #000;
	width: 1200px;
	height: auto;
	margin: auto;
	text-align: left;
	margin-bottom: 80px;
}
















